<div class="documents">
   <div class="container">
      <div class="documents__wrapper">
         <div class="documents__inner">
            <div class="documents__card card">
               <a href="#" class="card__link">
                  <img src="images/documents/doc-1.jpg" alt="documents">
               </a>
               <div class="card__blackout">
                  <div class="card__title">
                     Свидетельство Российскй Федерации
                  </div>
                  <p class="card__text">
                     №201561175 от 05.02.2015
                  </p>
                  <a class="card__search" href="#">
                     <img src="../images/documents/icon-search.png" alt="search">
                  </a>
               </div>
            </div>
            <div class="documents__card card">
               <a href="#" class="card__link">
                  <img src="images/documents/doc-2.jpg" alt="documents">
               </a>
               <div class="card__blackout">
                  <div class="card__title">
                     Свидетельство Российскй Федерации
                  </div>
                  <p class="card__text">
                     №201561175 от 05.02.2015
                  </p>
                  <a class="card__search" href="#">
                     <img src="../images/documents/icon-search.png" alt="search">
                  </a>
               </div>
            </div>
            <div class="documents__card card">
               <a href="#" class="card__link">
                  <img src="images/documents/doc-3.jpg" alt="documents">
               </a>
               <div class="card__blackout">
                  <div class="card__title">
                     Свидетельство Российскй Федерации
                  </div>
                  <p class="card__text">
                     №201561175 от 05.02.2015
                  </p>
                  <a class="card__search" href="#">
                     <img src="../images/documents/icon-search.png" alt="search">
                  </a>
               </div>
            </div>
            <div class="documents__card card card--download">
               <div class="card__blackout card__blackout--download">
                  <div class="card__title">
                     Федеральная Антимонопольная Служба
                  </div>
                  <a class="card__search" href="#">
                     <img src="../images/documents/pdf-file.png" alt="pdf">
                  </a>
               </div>
            </div>
            <div class="documents__card card card--download">
               <div class="card__blackout card__blackout--download">
                  <div class="card__title">
                     Федеральная Налоговая Служба
                  </div>
                  <a class="card__search" href="#">
                     <img src="../images/documents/pdf-file.png" alt="pdf">
                  </a>
               </div>
            </div>
            <div class="documents__card card card--download">
               <div class="card__blackout card__blackout--download">
                  <div class="card__title">
                     Юридическое Правовое Заключение
                  </div>
                  <a class="card__search" href="#">
                     <img src="../images/documents/pdf-file.png" alt="pdf">
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>