<section class="home">
   <div class="container">
      <div class="home__inner">
         <div class="home__slogan">
            <div class="home__header-title">
               государственно зарегистрированная
            </div>
            <h2 class="home__title">
               система финансовой взаимопомощи
            </h2>
            <p class="home__text">
               Особенность которой в прозрачных и
               понятных правилах участия
            </p>
            <a href="#" class="home__btn btn">
               Учавствовать
            </a>
         </div>
         <div class="home__figure">
            <img src="../images/content/illustration.png" alt="figure">
         </div>
      </div>
   </div>
</section>