<section class="how-start">
   <div class="container">
      <div class="how-start__inner ibg" style="background-image: url(images/bg.png);">
         <div class="how-start__box">
            <h4 class="how-start__title">
               Как начать пользоваться системой Hand of Help?
            </h4>
            <p class="how-start__descr">
               Пользоваться системой взаимопомощи Hand of Help может гражданин любой страны, достигший возраста 18
               лет.
               Согласившись с условиями пользовательской оферты, вы автоматически получаете доступ к системе.
            </p>
         </div>
         <a href="#" class="how-start__btn btn btn--white">
            Начать пользоваться
         </a>
      </div>
      <div class="how-start__illustration">
         <img class="test" src="../images/documents/illustration-2.png" alt="illustration">
      </div>
   </div>
</section>