<section class="system">
   <div class="container">
      <div class="system__box-title title-box">
         <div class="title-box__head">
            БЕЗ КРЕДИТОВ И ЗАЙМОВ
         </div>
         <h2 class="title-box__slogan">
            СИСТЕМА HAND OF HELP
         </h2>
      </div>
      <div class="system__wrapper">
         <div class="system__inner">
            <article class="system__advantages advantages">
               <div class="advantages__box">
                  <img src="../images/system/icon-diploma.png" alt="diploma">
               </div>
               <div class="advantages__title">
                  запатентована и зарегистрирована
               </div>
               <div class="advantages__text">
                  В наличии свидетельства и патенты
               </div>
            </article>
            <article class="system__advantages advantages">
               <div class="advantages__box">
                  <img src="../images/system/icon-coronavirus.png" alt="coronavirus">
               </div>
               <div class="advantages__title">
                  Международный уровень
               </div>
               <div class="advantages__text">
                  Системой пользуются жители России, Германии, Великобритании, США и пр.
               </div>
            </article>
            <article class="system__advantages advantages">
               <div class="advantages__box">
                  <img src="../images/system/icon-pocket.png" alt="pocket">
               </div>
               <div class="advantages__title">
                  Помощь, когда она необходима
               </div>
               <div class="advantages__text">
                  Проблемы решаются без кредитных организаций, займов, банков и пр.
               </div>
            </article>
            <article class="system__advantages advantages">
               <div class="advantages__box">
                  <img src="../images/system/icon-balance.png" alt="balance">
               </div>
               <div class="advantages__title">
                  Помощь, когда она необходима
               </div>
               <div class="advantages__text">
                  Проблемы решаются без кредитных организаций, займов, банков и пр.
               </div>
            </article>
            <article class="system__advantages advantages">
               <div class="advantages__box">
                  <img src="../images/system/icon-calculator.png" alt="calculator">
               </div>
               <div class="advantages__title">
                  Открытая система расчёта
               </div>
               <div class="advantages__text">
                  Всё просто и понятно, нет возможности махинации
               </div>
            </article>
            <article class="system__advantages advantages">
               <div class="advantages__box">
                  <img src="../images/system/icon-diploma.png" alt="diploma">
               </div>
               <div class="advantages__title">
                  запатентована и зарегистрирована
               </div>
               <div class="advantages__text">
                  В наличии свидетельства и патенты
               </div>
            </article>
         </div>
      </div>
   </div>
</section>